@charset "UTF-8";

.image {
	width: 500px;
	height: 300px;
}

.header {
	background-color: aquamarine;
}

.table {
	text-align: center;
}

.forms tr td {
	width: 200px;
	border: solid 1px;
}

.button {
	background-color: rgb(245, 221, 10);
}

.input {
	border-radius: 5px;
	border: none;
	background-color: aqua;
	color: rgb(0, 89, 255);
	cursor: pointer;
}